@charset "UTF-8";

:root {
    --page-padding-dsktp: 40px; /* General padding for desktop layout */
    --page-padding-mob: 40px; /* General padding for desktop layout */
    --left-padding-mob: 30px; /* General padding for desktop layout */
    --right-padding-mob: 30px; /* General padding for desktop layout */
}

#backimage {

    width: 100%;
    max-width:100%;
    height: auto;
}

#HomePage {

    position:relative;
    width: 1200px;
    max-width:100%;
    margin-right: auto;
    margin-left: auto;
}

#HomeHeader {
    display: table;
    background-color: #e5e3e1;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    opacity: 0.7;
}

#HomeFooter {
    display: none;
    margin-top:-80px;
}

#HomeLogoContainer {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}

#HomeLogo {
    width: 400px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#HomeLink {
    padding-left: 20px;
    padding-right: 20px;
}

#HomeLinkMob {
    padding-left: 20px;
    padding-right: 20px;
    display: none;
}

#HomeContent {
    width: 100%;
    z-index: -1;
}

/*
    GENERAL STYLING
*/

body {
    background-color: #c6cfd4;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Arial;
}

h1 {
    color: #404040;
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    color: #404040;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

    h2:hover {
        color: #FF0000;
    }

h3 {
    color: #404040;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    margin-bottom: 8px;
    margin-top: 0px;
}

p {
    margin-top: 0px;
}

a {
    color: #404040;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

    a:hover {
        color: #FF0000;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

li {
    float: left;
}

    li a {
        display: block;
        color: #404040;
        font-family: Arial;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        padding-right:40px;
        text-decoration: none;
    }

        li a:hover {
            color: #FF0000;
        }


/*
    TOP LEVEL PAGE LAYOUT
*/

.dandypage {
    width: 1200px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}


/*
    PAGE HEADER CLASSES
*/

.pageheader {
    display: table;
    background-color: #ffffff;
    width: 100%;
    padding-top: 40px;
}

.linkheader {
    display: table;
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 20px;
}

/* Page links are in header */
.pagelinks {
    display: table-cell;
    vertical-align: middle;
}

.logoContainer {
    width: 40%;
    display: table-cell;
    vertical-align: top;
}

.blankContainer {
    width: 40%;
    display: table-cell;
    vertical-align: top;
}

.rightHeaderContainer {
    width: 50%;
    display: table-cell;
    vertical-align: top;
    padding-right:20px;
}

.contactContainer {

    float:left;
   
}

.logo {

    position: relative;
    width: 400px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: var(--page-padding-dsktp);
}

.contactImg {
    position: relative;
    width: 320px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left:0;
}

.wishlist {
    float: right;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-right: var(--page-padding-dsktp);
}

.wishlistimg {
    width: 70px;
}

.pagebanner {
    background-color: #ffffff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.greybar {
    background-color: #e8e8e8;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    clear:both;
}

.locator {
    padding-left: var(--page-padding-dsktp);
    font-size: 18px;
}

.textbox {
    font-family: Arial;
    font-size: 18px;
    color: #564f25;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.textcontent {
    float: left;
    font-family: Arial;
    font-size: 16px;
    text-align: left;
    padding-top:20px;
    padding-left: var(--page-padding-dsktp);
    padding-right: var(--page-padding-dsktp);
}

.sidetext {
    width: 72%;
    padding-right:0px;
}

.sideimage {
    float: right;
    width: 18%;
    padding-left: 0px;
}

.portrait {
    float:right;
    width: 200px;
    height: auto;
    max-width: 100%;
}

.video {
    float: right;
    width: 200px;
    height: auto;
    max-width: 100%;
    visibility: hidden;
}


.pagecontent {
    /* Note that setting text-align:center allows the inline-block div to be centred */
    text-align:center;
    background-color: #ffffff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}


.pagethumb {
    float: left;
    width: 180px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.centerContainer {
    display:inline-block;
}

.pageimg {

    width:100%;
    
}



@media only screen and (max-width: 768px) {

    #HomeHeader {
        display: inline-block;
        
    }

    #HomeFooter {
        display: table;
        background-color: #e5e3e1;
        position: absolute;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
        opacity: 0.7;
    }

    #HomeLogo {
        width:100%;
        display: inline-block;
    }

    #HomeLink {
        display:none;
    }

    #HomeLinkMob {
        display: initial;
    }

    li {
        float:none;
    }

    li a {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    #backimage {
        margin-top:40%;
    }

    .dandypage {

        width: 100%;
        
    }

    .pageheader {
        width:100%;
        position: initial;
        display: block;
        padding-left:0px;
        padding-right:0px;
    }

    .linkheader {
        position:initial;
        display: block;
    }

    /* Page links are in header */
    .pagelinks {
        position: initial;
        display: block;
    }

    .logoContainer {
        width: 100%;
        position: initial;
        display: block;
    }

    .logo {
        width: 300px;
        position: initial;
        margin-left:auto;
        margin-right:auto;
    }

    .blankContainer {
        position: initial;
        display: none;
    }

    .rightHeaderContainer {
        width: 100%;
        position: initial;
        display: block;
        padding-right:0px;
    }

    .contactContainer {
        display:none;
    }

    .contactImg {
        position: initial;
    }

    .wishlist {
        position: initial;
        padding-right:10px;
        margin-top:-25px;
    }

    .wishlistimg {
        position: initial;
        width:40px;
    }

    .greybar {
        
    }

    .pagecontent {
        
    }

    .centerContainer {
        width: 100%;
    }

    .locator {
        padding-left: 0px;
        text-align: center;
    }

    .textcontent {
        width: 100%;
    }

    .sidetext {
        float:none;
        width: initial;
        text-align: justify;
        padding-left: var(--left-padding-mob);
        padding-right: var(--right-padding-mob);
    }

    .sideimage {
        float: none;
        width: 100%;
        padding: 0px;
        text-align:center;
    }

    .portrait {
        float:none;
        
    }

    .video {
        
    }


    .pagethumb {
        float: none;
        width: 60%;
        margin-left:auto;
        margin-right:auto;
    }

    
}






